
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate

*.plan

# Backups
backups/
*.sql
*.dump

# Docker
docker-compose.override.yml
.docker/
.dockerignore

# Environment
.env
.env.local
.env.*.local

